<h1>Clinic</h1>

<p>Clinic: <%= clinic.clinic_name %></p>
<p>Contact: <%= clinic.contact  %></p>
<p>Species: <%= clinic.species  %></p>
<p>Field: <%= clinic.field  %></p>
<p>Address: <%= clinic.user.address  %></p>
