<div>
  <section>
    <h1><%= @pet.name %></h1>
    <p><%= @pet.species %> | <%= @pet.breed %></p>
    <div>
      <p><strong>DOB:</strong> <%= @pet.dob %></p>
      <p><strong>Vaccination Status:</strong> <%= @pet.vacc_status %></p>
      <p><strong>Weight:</strong> <%= @pet.weight %> kg</p>
      <p><strong>Current Meds:</strong> <%= @pet.current_meds %></p>
    </div>
    <%= link_to "View Logs", user_pet_logs_path(@user, @pet) %>
  </section>
</div>
