<div class="chat-subnav row">
  <div class="col-1">
    <%= link_to user_chats_path(@user) do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="col-11">
    <% if @user == @chat.owner %>
      <%= @chat.vet.clinic.clinic_name %>
    <% else %>
      <%= @chat.owner.name %>: <%= @chat.pet.name || "Unknow pet"%>
    <% end %>
  </div>
</div>
<div class="msg-container-wrapper">
  <div class="msg-container" id="chat-messages" data-controller="scroll">
    <% @messages.each do |message| %>
      <% if message.user == @user %>
        <div class="row mx-2 justify-content-center">
          <div class="msg msg-right col-10">
            <p> <%= message.contents %> </p>
          </div>
          <div class="col-2">

            <%# Verifying if the pet exists and has a picture %>
            <% if @chat.pet&.photo&.attached? %>
              <%= image_tag @chat.pet.photo,
                  class: "avatar-small right-avatar",
                  style: "width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" %>
            <% else %>
              <div class="avatar-small overlap" style="width: 50px; height: 50px; border-radius: 50%; background: #eee; display: inline-flex; align-items: center; justify-content: center; border: 2px solid white;">
                <i class="fa-solid fa-paw" style="color: #bbb;"></i>
              </div>
            <% end %>

        </div>
      <% else %>
        <div class="row mx-2 justify-content-center">
          <div class="col-2">
            <%# Image placeholder %>
            <%= image_tag "https://res.cloudinary.com/rts1307/image/upload/v1771606859/development/gregoryhouse.jpg",
                class: "avatar-small left-avatar", style: "width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" %>
          </div>
          <div class="msg msg-left col-10">
            <p>
              <%= message.contents %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="chat-bottom"> </div>
  </div>
  <%= form_with model: [@user, @chat, @message] do |f| %>
    <%= f.text_area :contents %>
    <button type="submit" class="send-btn" aria-label="Send message">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  <% end %>
</div>
