<div class="container mt-5 pt-5">
  <h2>Chat about: <%= @chat.pet.name %></h2>
  <div>
    <% @messages.each do |message| %>
      <% if message.user == @user %>
        <div class="row mx-2">
          <div class="msg msg-right col-10">
            <p>
              <strong><%= message.user.name %>:</strong>
              <%= message.contents %>
            </p>
          </div>
          <div class="col-2">
            <%= image_tag @chat.pet.photo,
              class: "avatar-small right-avatar",
              style: "width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" %>
          </div>
        </div>
      <% else %>
        <div class="row mx-2">
          <div class="col-2">
            <%# placeholder %>
            <%= image_tag "https://res.cloudinary.com/rts1307/image/upload/v1771606859/development/gregoryhouse.jpg",
              class: "avatar-small", style: "width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" %>
          </div>
          <div class="msg msg-left col-10">
            <p>
              <strong><%= message.user.name %>:</strong>
              <%= message.contents %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<hr>
<%= form_with model: [@user, @chat, @message] do |f| %>
  <%= f.text_area :contents %>
  <%= f.submit "Send" %>
<% end %>
</div>
</div>
<style>
  .msg {
    position: relative;
    /* max-width: 70%; */
    /* padding: 12px 18px; */
    background: #fff; /* bright green */
    border-radius: 8px; /* pill shape */
    font-size: 14px;
    line-height: 1.4;  position: relative;
    max-width: 70%;
    padding: 12px 18px;
  }
  .msg-right {

  }

  .msg-right::after {
  content: "";
  position: absolute;

  right: -6px;            /* move outside bubble */
  top: 50%;               /* vertical center */
  transform: translateY(-50%) rotate(90deg);

  width: 12px;
  height: 12px;
  background: #7ED321;

  border-radius: 0 100% 100% 100%;
  }


  .msg-left {
    border: 2px solid green;
    margin-bottom: 10px;
  }

  .right-avatar{
    border: 2px solid blue;
  }

  .left-avatar{
    border: 2px solid green;
  }
</style>
